


<div class="container">
  <h1>Cocktails</h1>
  <p>Choose your poisons for tonight !</p>
  <div class="coktails-menu">
    <% @cocktails.each do |cocktail| %>
      <div class="card-cocktails">
        <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
      </div>
    <% end %>
  </div>


</div>


