
<div class="container">

<h2> Add new ingredient </h2>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, :collection => Ingredient.all.order(:name) %>
      <%= f.submit "Add up !", class: "button" %>
  <% end %>

</div>

