.coktails-menu {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.grid {
  position: relative;
  top: -100px;
}

.col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}


.card-cocktail{
  padding-bottom: 20px;
}


.card-cocktail a {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;

}

.card-cocktail-image {
  background-size: cover;
  background-position: center;
  height: 175px;
  width: 200px;
  justify-content: center;
  padding:20px;
}

.card-cocktail-info {
  background-color: white;
  color:#4CAF50;
  font-weight:bold;
}

.card-cocktail-info {
  background-color: #4CAF50;
  font-weight:bold;
  display:inline-block;
  height:60px;
  width: 200px;
}

.card-cocktail-info span {
  color:white;
  font-weight:bold;
  padding: 5px;
  border-radius: 30px;
  font-size:10px;
}
