
.container {
  padding-right: 15px;
  padding-left: 15px;

  /* Et on centre */
  margin-right: auto;
  margin-left: auto;
  color: white;
  padding-top:100px
}

.mini-banner {
    background-image: url(/assets/les-murs-de-bouteilles.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin: auto;
}

.mini-banner p {
  padding: 20px 50px;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}


.background {
  background-color: black;
  height:auto;
}


