
.navbar-cocktail{
  background: #4CAF50;
  list-style-type: none;
  height: 70px;
  position: fixed;
  width: 100%;
  display:flex;
  justify-content:space-around;
  padding-top:15px;
}

.search {
  float:right;
}

.navbar-cocktail img {
  width: 60px;
}



