
.navbar-cocktail{
  background: white;
  padding:20px;
  overflow: hidden;
}


.navbar-cocktail a {
  color: blue;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar-cocktail a:hover {
  background-color: blue;
  color: black;
}
